:root {
    --h:220; --s:50%; --l:50%; 
    --color-1: hsl(calc(var(--h)), var(--s), var(--l));
    --color-2: hsl(calc(var(--h)), var(--s), var(--l));
    --color-3: hsl(calc(var(--h)), var(--s), var(--l));
    --c-t1: hsl(calc(var(--h)), var(--s), var(--l), .8);
    --c-t2: hsl(calc(var(--h)), var(--s), var(--l), .6);
    --c-t3: hsl(calc(var(--h)), var(--s), var(--l), .4);
    --c-t4: hsl(calc(var(--h)), var(--s), var(--l), .2);
    /* --c-d1: hsl(calc(var(--h)), var(--s), var(--l), .2);
    --c-d2: hsl(calc(var(--h)), var(--s), var(--l), .4);
    --c-d3: hsl(calc(var(--h)), var(--s), var(--l), .6);
    --c-d4: hsl(calc(var(--h)), var(--s), var(--l), .8); */

    --l1: hsl(0, 0%, 100%, .1);
    --l2: hsl(0, 0%, 100%, .2);
    --l3: hsl(0, 0%, 100%, .3);
    --l4: hsl(0, 0%, 100%, .4);

    --d1: hsl(0, 0%, 0%, .1);
    --d2: hsl(0, 0%, 0%, .2);
    --d3: hsl(0, 0%, 0%, .3);
    --d4: hsl(0, 0%, 0%, .4);

    --cl:hsl(216, 63%, 97%);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: var(--dark);
    background: rgb(63,92,153);
    background: linear-gradient(0deg, hsl(221, 51%, 20%) 10%, hsl(194, 66%, 36%) 50%, rgb(24, 64, 97) 100%);
}

.gradient {
    background: rgb(63,92,153);
    background: linear-gradient(0deg, rgba(63,92,153,1) 10%, rgba(32,126,154,1) 67%, rgba(47,74,129,1) 100%, rgba(32,126,154,1) 100%);
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) transparent;
}

.scrollbar::-webkit-scrollbar {
    width: 8px; 
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--d1); 
    border-radius: 10px; 
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--cl); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 5px 0;
    line-height: 1.25;
}

a, Link {
    text-decoration: none !important;
    color: currentColor !important;
}

button[disabled] {
    cursor: default;
    opacity: .8;
}

img { max-width: 100%; }

span[role="img"] { cursor: default; }

input {
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid var(--dark);
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
}

input:focus {
    border: 1px solid var(--secondary);
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.bdr { border: 1px solid red; }

/*                            */


.text-nowrap { white-space: nowrap; }

.df { 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.df-column {
    display: flex;
    flex-direction: column;
}

.fg { flex-grow: 1; }

.jcc { justify-content: center; }
.jcsb { justify-content: space-between; }
.jcsa { justify-content: space-around; }
.jcfe { justify-content: flex-end; }

.aic { align-items: center; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }
.ais { align-items: stretch; }

.flex { display: flex; }
.flex-col { flex-direction: column; }

.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

.overflow-x { overflow-x: auto; }

.btn-1 {
    padding: 0.2rem 1rem;
    margin: 0 0.25rem;
    border-radius: 3px;
    border: none;
    background-color: var(--d1);
    color: var(--cl);
    transition: all 0.2s;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 3px;
        transition: all 0.2s;
    }

    &:hover {
        &::before {
            background-color: var(--l2); 
        }
        transform: scale(1.05);
    }
}

.rel{ position: relative; }
.abs{ position: absolute; }

/* Nav */

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cl) !important;
}

.nav-link {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border-radius: 3px;
    background-color: var(--d1) !important;
}

.box-1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 4rem;
    border-radius: 5px;
    background-color: var(--cl);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

/* Search results  */


    /* cards */
.img-div {
    width: 100%;
    aspect-ratio: 1/1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

#clear-res-div{
    position: relative;
    display:block;
    height: 30px;
    width: 30px; 
    span{
        position: absolute;
        height: 100%;
        font-size: 2rem;
        top: 11%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.container-box {
    --pad:1rem;
    border-radius: 10px;
    background-color: var(--cl);
    padding: var(--pad);
    min-height: 200px;
}

.pointer {
    cursor: pointer;
}

[style*=--maxw\:] { 
    max-width: var(--maxw) !important; 
}

[style*=--gap\:] { 
    /* margin: calc(var(--gap)/2 * -1);  */
    display: flex; 
    flex-wrap: wrap; 
    gap:var(--gap);
    /* gap:calc(0.25rem * var(--gap)); */
}

[style*=--grid-w\:] { 
    width: 100%;
    max-width: calc((100%/var(--grid-w) - var(--gap, 0px)) ); 
    /* max-width: calc((100%/12) * var(--grid-w));  */
}

[style*=--hover-scale\:] { transition: scale 0.2s; }
[style*=--hover-scale\:]:hover { 
    transition: scale 0.2s;
    scale: var(--hover-scale);
}



/* Define the scale effect class */



/*  Background Color Classes  */

.bg-c1 { background-color: var(--color-1) !important; }
.bg-c2 { background-color: var(--color-2) !important; }
.bg-c3 { background-color: var(--color-3) !important; }

.bg-l1 { background-color: var(--l1) !important; }
.bg-l2 { background-color: var(--l2) !important; }
.bg-l3 { background-color: var(--l3) !important; }
.bg-l4 { background-color: var(--l4) !important; }

.bg-d1 { background-color: var(--d1) !important; }
.bg-d2 { background-color: var(--d2) !important; }
.bg-d3 { background-color: var(--d3) !important; }
.bg-d4 { background-color: var(--d4) !important; }

.cat-btn{
    background-color: var(--color-1) !important;
}